@font-face {
  font-family: 'Avenir Next Cyr Light';
  src: url('../fonts/AvenirNextCyr-Light.eot');
  src: url('../fonts/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Light.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url('../fonts/AvenirNextCyr-Regular.eot');
  src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin os-exlight {
  font-weight: 200;
}

@mixin os-light {
  font-weight: 300;
}

@mixin os-bold {
  font-weight: 700;
}

@mixin av-light {
  font-family: 'Avenir Next Cyr Light',
    sans-serif;
}

@mixin av-reg {
  font-family: 'Avenir Next Cyr Regular',
    sans-serif;
}