body {
  background-color: #000000;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.lock {
  overflow: hidden;
}