.about-us {
  display: flex;
  position: relative;

  @media (max-width: 924px) {
    flex-direction: column;
  }

  &__col-1 {
    flex-basis: 50%;
    padding: 180px 10px 192px 100px;
    background: url(../img/about-us/bg.jpg) no-repeat center / cover;

    @media (max-width: 1550px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 1156px) {
      padding: 100px 50px;
    }
  }

  &__title {
    color: #ffffff;
    @include os-exlight;
    font-size: 74px;
    margin-bottom: 50px;

    @media (max-width: 600px) {
      font-size: 50px;
    }
  }

  &__text {
    color: #909090;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    @include av-light;
    margin-bottom: 43px;
    max-width: 600px;
  }

  &__contacts {
    display: flex;

    @media (max-width: 1142px) {
      flex-direction: column;
    }
  }

  &__telegram {
    display: flex;
    align-items: center;

    @media (max-width: 1142px) {
      margin-bottom: 13px;
    }
  }

  &__img {}

  &__line {
    width: 70px;
    height: 1px;
    background-color: #303030;
    margin: 0 19px 0 16px;

    @media (max-width: 1411px) {
      width: 30px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
  }

  &__contact {
    color: #fff;
  }

  &__col-2 {
    flex-basis: 50%;
  }

  &__portfolio {
    position: absolute;
    color: #ffffff;
    @include os-exlight;
    font-style: italic;
    font-size: 35px;
    letter-spacing: 3.5px;
  }
}

.about-us-telegram {

  &__text {
    margin-right: 92px;

    @media (max-width: 1246px) {
      margin-right: 40px;
    }
  }
}

.about-us-showreel {
  background: url(../img/about-us/video-bg.jpg) no-repeat center / cover;
  height: 50%;
  position: relative;

  &__title {
    position: absolute;
    color: #ffffff;
    font-size: 45px;
    @include os-bold;
    font-style: italic;
    text-transform: uppercase;
    bottom: 31px;
    left: 105px;

    @media (max-width: 600px) {
      left: 24px;
      bottom: 12px;
      font-size: 30px;
    }
  }

  &__portfolio {
    right: 101px;
    bottom: 110px;

    @media (max-width: 600px) {
      right: 21px;
      bottom: 60px;
      font-size: 24px;
    }
  }

  @media (max-width: 924px) {
    height: 500px;
  }

  @media (max-width: 600px) {
    height: 350px;
  }
}

.about-us-3d {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
  position: relative;
  background: url(../img/about-us/video-bg-2.jpg) no-repeat center / cover;

  @media (max-width: 924px) {
    height: 500px;
  }

  @media (max-width: 600px) {
    height: 350px;
  }

  &__title {
    position: absolute;
    color: #ffffff;
    font-size: 45px;
    @include os-bold;
    font-style: italic;
    text-transform: uppercase;
    top: 31px;
    right: 103px;

    @media (max-width: 600px) {
      top: 12px;
      font-size: 30px;
      right: 22px;
    }
  }

  &__portfolio {
    top: 110px;
    left: 100px;

    @media (max-width: 600px) {
      top: 60px;
      left: 21px;
      font-size: 24px;
    }
  }

  &__360-img {
    @media (max-width: 600px) {
      position: absolute;
      bottom: -10px;
      width: 150px;
    }
  }
}

.about-us-play {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      background-color: #fff;
      opacity: 20%;
      border-radius: 50%;
      z-index: 10;
    }

    &::after {
      content: '';
      position: absolute;
      top: -20px;
      display: inline-block;
      width: 140px;
      height: 140px;
      border: 1px solid #fff;
      z-index: 3;
      border-radius: 50%;
      animation: pulse 1.8s linear infinite;
      transform: translateY(-20px);
    }
  }

  &__push {
    position: absolute;
    margin-left: 2px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}