.footer {
  margin-top: 50px;

  &__container {
    max-width: 1367px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__content {
    padding: 36px 0 26px;
    border-top: 1px solid #1b1b1b;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 924px) {
      flex-wrap: wrap-reverse;
    }
  }

  &__policy {
    color: #363636;
    @include av-light;
    font-size: 16px;
    line-height: 30px;
  }

  &__bottom {
    margin: 0 auto;
    margin-top: 31px;
    text-align: center;
    max-width: 1332px;
    color: #5e5e5e;
    @include av-reg;
    font-size: 14px;
  }

  &__item {
    @media (max-width: 924px) {
      display: flex;
      justify-content: center;
      flex-basis: 50%;
      margin-bottom: 30px;
    }

    @media (max-width: 570px) {
      flex-basis: 100%;
      margin-bottom: 50px;
    }
  }

  &__phone {
    @media (max-width: 924px) {
      flex-direction: column;
      align-items: center;

    }
  }

  &__form-link {
    @media (max-width: 924px) {
      margin: 0;
      margin-left: 70px;
    }
  }
}

.footer-logo {
  display: flex;
  align-items: center;

  &__img {}

  &__name {
    display: inline-block;
    @include os-bold;
    font-style: italic;
    font-size: 24px;
    color: #4c4c4c;
    max-width: 100px;
    line-height: 1;
    margin-left: 20px;
    margin-right: 9px;
  }

  &__desc {
    display: block;
    padding-left: 9px;
    color: #4c4c4c;
    @include os-exlight;
    max-width: 120px;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.7px;

    @media (max-width: 924px) {
      display: none;
    }
  }
}

.footer-address {
  display: flex;
  align-items: center;

  &__img {
    margin-right: 10px;
  }

  &__text {
    display: inline-block;
    color: #fff;
    max-width: 140px;
    font-style: normal;
    @include os-light;
    font-size: 16px;
    letter-spacing: 0.8px;
  }
}