.header {
  display: flex;
  min-height: 100vh;
  position: relative;
  background: url(../img/header/bg.jpg) no-repeat center top / cover;

  @media (max-width: 1367px) {
    background-position: center center;
  }

  @media (max-width: 700px) {
    background-position: -203px center;
  }
}

.mouse {
  position: absolute;
  left: 50%;
  bottom: 55px;

  @media (max-width: 1367px) {
    bottom: 30px;
  }

  @media (max-width: 924px) {
    display: none;
  }
}