.header {
  display: flex;
  min-height: 100vh;
  position: relative;
  background: url(../img/header/bg.jpg) no-repeat center / cover;
}

.mouse {
  position: absolute;
  left: 50%;
  bottom: 55px;
}