.hero {
  padding-top: 20px;
  max-width: 1397px;
  z-index: 1;

  &__content {
    border-left: 1px solid #2a2a2a;
    padding-bottom: 200px;

    @media (max-height: 900px) {
      padding-bottom: 100px;
    }

    @media (max-width: 924px) {
      border-left: none;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    width: 85vw;

    @media (max-width: 708px) {
      width: auto;
    }

    @media (max-width: 600px) {
      border-bottom: 1px solid #a0a0a0;
      padding: 0 0 11px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  &__logo {
    @media (max-width: 600px) {
      padding-left: 35px;
      margin: 0 auto 0;
    }
  }

  &__contacts {
    text-align: right;
  }

  &__main {
    margin-top: 350px;
    padding-left: 95px;

    @media (max-width: 1367px) {
      margin-top: 30vh;
      padding-left: 70px;
    }

    @media (max-width: 924px) {
      padding-left: 0;
      max-width: 600px;
      margin-top: 420px;
    }

    @media (max-width: 732px) {
      padding-right: 75px;
      max-width: none;
      margin-top: 40vh;
    }

    @media (max-width: 600px) {
      padding: 0 43px;
      text-align: center;
    }
  }

  &__company {
    display: inline-block;
    font-size: 45px;
    @include os-bold;
    transform: rotate(-90deg) translateX(90px) translateY(-275px);
    color: #454545;
    text-transform: uppercase;
    font-style: italic;

    @media (max-width: 1367px) {
      font-size: 30px;
      transform: rotate(-90deg) translateX(70px) translateY(-190px);
    }

    @media (max-width: 924px) {
      display: none;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1.75px;
    @include os-bold;
    text-shadow: 0 0 4px #000;

    @media (max-width: 1367px) {
      font-size: 55px;
      line-height: 1.2;
      max-width: 1000px;
    }

    @media (max-width: 1020px) {
      font-size: 50px;
    }

    @media (max-width: 924px) {
      font-size: 40px;
    }

    @media (max-width: 604px) {
      margin: 0 auto;
    }

    @media (max-width: 552px) {
      font-size: 30px;
    }

    @media (max-width: 470px) {
      font-size: 26px;
    }

    @media (max-width: 350px) {
      font-size: 23px;
    }
  }

  &__subtitle {
    color: #ffffff;
    @include os-exlight;
    font-size: 74px;
    margin-bottom: 45px;
    text-shadow: 0 0 4px #000;

    @media (max-width: 1367px) {
      font-size: 50px;
    }

    @media (max-width: 924px) {
      font-size: 40px;
    }

    @media (max-width: 600px) {
      margin-bottom: 28px;
    }

    @media (max-width: 470px) {
      font-size: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: #ffffff;
    @include os-exlight;
    font-style: italic;
    font-size: 30px;
    max-width: 220px;

    @media (max-width: 924px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      margin: 0 auto;
      max-width: 170px;
    }

    @media (max-width: 470px) {
      font-size: 24px;
      max-width: 190px;
    }
  }

  &__text-link {
    border-bottom: 1px solid #454545;
  }

  &__img-link {
    margin-left: 10px;
    padding-top: 5px;
  }
}

.logo {
  display: flex;
  align-items: center;
  z-index: 12;

  &__img {
    @media (max-width: 924px) {
      width: 27px;
    }
  }

  &__name {
    color: #ffffff;
    font-size: 24px;
    @include os-bold;
    line-height: 1;
    margin-left: 20px;
    max-width: 104px;

    @media (max-width: 924px) {
      font-size: 16px;
      margin-left: 3px;
      max-width: 75px;
    }
  }

  &__desc {
    color: #8c8c8c;
    @include os-exlight;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-left: 15px;
    max-width: 110px;

    @media (max-width: 924px) {
      display: none;
    }
  }
}

.hero-contacts {

  &__phone {
    margin-bottom: 3px;
  }

  &__img {
    margin-right: 7px;
    transform: translateY(3px);

    @media (max-width: 924px) {
      width: 24px;
    }
  }

  &__num {
    color: #ffffff;
    @include os-exlight;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
  }

  &__num-top {
    @media (max-width: 924px) {
      display: none;
    }
  }

  &__form-link {
    @include os-light;
    color: #646464;
    font-size: 16px;
    letter-spacing: 0.8px;
    border-bottom: 1px #646464 dashed;
    max-width: 110px;
    margin-left: auto;
  }

  &__form-link-top {
    display: block;

    @media (max-width: 924px) {
      display: none;
    }
  }
}