.navbar-menu {
  display: flex;
  transform: scaleX(0);
  transform-origin: left center;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 485px;
  width: 100%;
  background-color: #000;
  z-index: 12;
  height: 100vh;
  transition: all .5s;

  @media (max-width: 924px) {
    opacity: 0.9;
  }

  @media (max-height: 701px) {
    overflow: scroll;
  }

  &_active {
    transform: scaleX(1);
  }

  &__logo {
    display: none;
  }

  &_light {
    @include os-light;
    color: #fff;
    font-size: 22px;

    @media (max-width: 924px) {
      margin-top: 3px;
      @include os-exlight;
    }
  }

  &__col_1 {
    position: relative;
    padding: 120px 20px 0;
    border-right: 1px solid #262626;
    margin-top: 20px;
    font-size: 72px;
    @include os-bold;
    text-transform: uppercase;
    color: #1d1d1d;
    width: 100px;
    padding-bottom: 50px;

    @media (max-width: 1367px) {
      font-size: 60px;
    }

    @media (max-width: 924px) {
      display: none;
    }
  }

  &__col_2 {
    width: 100%;
  }

  &__nav {
    transform: rotate(-90deg);
    margin-top: 120px;
    font-style: italic;

    @media (max-width: 924px) {
      display: none;
    }
  }

  &__item {
    margin-bottom: 20px;
    font-size: 30px;
    @include os-exlight;
    font-style: italic;
    color: #fff;
  }

  &__contact {
    transform: rotate(-90deg) translateX(-100px);
    font-style: italic;

    @media (max-height: 1367px) {
      margin-top: 260px;
    }

    @media (max-width: 924px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 146px auto 400px;
    text-align: center;

    @media (max-height: 1029px) {
      margin-bottom: 200px;
    }

    @media (max-height: 834px) {
      margin-bottom: 100px;
    }
  }

  &__contacts {
    margin-left: 30px;

    @media (max-width: 924px) {
      margin-left: 0;
    }
  }
}

.navbar-menu-contacts {

  @media (max-height: 701px) {
    padding-bottom: 40px;
  }

  &__item {
    color: #ffffff;
    font-size: 28px;
    font-style: italic;
    line-height: 1;
    letter-spacing: 1.5px;
    @include os-bold;
    margin-bottom: 70px;
    position: relative;

    @media (max-width: 924px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 200px;
      margin: 0 auto;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 82px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
      }
    }
  }

  &__phone {

    &_link {}

    &-number {
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 48px;
        height: 76px;
        background: url(../img/menu/phone.png);
        top: -63px;
      }
    }
  }

  &__address {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 57px;
      height: 75px;
      background: url(../img/menu/address.png);
      top: -50px;
    }
  }
}