.navbar {
  padding: 14px 33px 254px;
  max-width: 100px;

  @media (max-width: 924px) {
    padding: 6px 20px 0;
  }

  @media (max-width: 600px) {
    padding-right: 0;
    position: absolute;
  }

  &__content {
    display: flex;
    margin-top: 25px;
    align-items: center;
    flex-direction: column;
    max-width: 35px;

    @media (max-width: 600px) {
      border-bottom: 1px solid #a0a0a0;
      margin-top: 23px;
    }
  }

  &__menu-burger {
    margin-bottom: 20px;
  }

  &__desc {
    font-size: 30px;
    @include os-exlight;
    font-style: italic;
    transform: rotate(-90deg) translateX(-440px) translateY(25px);
    width: 675px;
    letter-spacing: 1.5px;
    color: #646464;

    @media (max-width: 1367px) {
      font-size: 22px;
      transform: rotate(-90deg) translateX(-210px) translateY(30px);
    }

    @media (max-height: 965px) {
      font-size: 21px;
      transform: rotate(-90deg) translateX(-250px) translateY(30px);
    }

    @media (max-height: 793px) {
      transform: rotate(-90deg) translateX(-200px) translateY(30px);
    }

    @media (max-width: 924px) {
      display: none;
    }
  }

  &__decor-line {
    width: 1px;
    height: 40px;
    background-color: #434343;
    margin-bottom: 20px;
    z-index: 10;

    @media (max-width: 924px) {
      z-index: 1;
    }

    @media (max-width: 604px) {
      display: none;
    }
  }

  &__menu-sign {
    display: inline-block;
    color: #8c8c8c;
    font-size: 18px;
    transform: rotate(-90deg);
    @include os-light;
    margin-right: 4px;

    @media (max-width: 604px) {
      display: none;
    }
  }
}

.menu-burger {
  display: block;
  position: relative;
  width: 35px;
  height: 23px;
  cursor: pointer;
  z-index: 13;

  &__line {
    display: block;
    height: 3px;
    background-color: #ffffff;
    transition: all .2s;
    position: absolute;

    &_1 {
      width: 35px;
      top: 0;
    }

    &_2 {
      width: 35px;
      top: 10px;
    }

    &_3 {
      width: 25px;
      bottom: 0;
    }
  }

  &_active {
    .menu-burger__line_1 {
      transform: rotate(45deg);
      top: 10px;
    }

    .menu-burger__line_2 {
      transform: scale(0);
    }

    .menu-burger__line_3 {
      transform: rotate(-45deg);
      width: 35px;
      bottom: 10px;
    }
  }
}